body {
  background-color: #78bbcb;
  font-family: Arial, Helvetica, sans-serif;
  color: #dedede;
}

.copy {
  font-size: 14px; /* Use relative units for font size */
  text-align: center;
}

/* Define media queries for larger screens */
@media only screen and (min-width: 768px) {
  .copy {
    font-size: 16px;
  }
}

/* Apply responsive styles to the table */
.responsive-table {
  width: 100%; /* Make the table expand to the full width of the viewport */
  max-width: 800px; /* Limit the maximum width of the table */
  margin: 0 auto; /* Center the table on the page */
}
